<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>NEW DRIVER REGISTRATION </strong>
          </div>
          <div class="card-body">
            <form action="" method="post" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="driver-fname">Firstname</label>
                    <div class="col-md-4">
                      <input type="text" id="driver-fname" name="Dfname" class="form-control" placeholder="Driver's firstname" autocomplete="driver-fname">
                      </div>
                      <label class="col-md-2 col-form-label" for="driver-lname">Lastname</label>
                      <div class="col-md-4">
                        <input type="text" id="driver-lname" name="Dlname" class="form-control" placeholder="Driver's lastname" autocomplete="driver-lname">
                    </div>
                  </div>
                <div class="form-group row">
                <label class="col-md-2 col-form-label" for="driver-id">ID Number</label>
                <div class="col-md-4">
                    <input type="number" id="driver-ID" name="DID" class="form-control" placeholder="Driver's ID Number" autocomplete="driver-ID">
                </div>
                <label class="col-md-2 col-form-label" for="bus-type">Driving License</label>
                <div class="col-md-4">
                        <select id="driver-license" name="DLicense" class="form-control">
                                <option value="" disabled>--Select category--</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                
                            </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 col-form-label" for="driver-phone">Phone number</label>
                <div class="col-md-4">
                  <input type="number" id="driver-phone" name="Dphone" class="form-control" placeholder="Driver's phone number" autocomplete="driver-phone">
                  </div>
                  <label class="col-md-2 col-form-label" for="driver-address">Address</label>
                  <div class="col-md-4">
                    <textarea id="textarea-input" name="Daddress" rows="9" class="form-control" placeholder="Driver's address"></textarea>
                </div>
              </div>
              
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </div>
    
    </div>