<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>NEW BUS REGISTRATION </strong>
          </div>
          <div class="card-body">
            <form action="" method="post" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-2 col-form-label" for="bus-make">Bus Make</label>
                <div class="col-md-4">
                  <select id="bus-make" name="bus-make" class="form-control">
                        <option value="" disabled>--Select make--</option>
                        <option value="">Bus Make</option>
                        
                    </select>
                </div>
                <label class="col-md-2 col-form-label" for="bus-type">Bus Type</label>
                <div class="col-md-4">
                        <select id="bus-type" name="bus-type" class="form-control">
                                <option value="" disabled>--Select type--</option>
                                <option value="">Bus type</option>
                                
                            </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 col-form-label" for="bus-seats">Number of seats</label>
                <div class="col-md-4">
                  <input type="number" id="bus-seats" name="bus-seats" class="form-control" placeholder="Bus seats" autocomplete="bus-seats">
                  </div>
                  <label class="col-md-2 col-form-label" for="Plate-number">Plate number</label>
                  <div class="col-md-4">
                    <input type="text" id="Plate-number" name="plate" class="form-control" placeholder="Enter Plate number" autocomplete="plate-number">
                </div>
              </div>
              
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </div>
    
    </div>